// ==========================================================================
// BUTTON RULES
// ==========================================================================//

.button {
    //base font-size
    font-size: 1.6rem;
    
    //design
	@extend .rounded;
	border: 2px solid white;
	background-color: inherit;
    @include hover(NULL, $white);
    
    //layout
	width: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.button--container {
    //layout
    text-align: center;
}

button[type="submit"] {
    //design
    color: $green;
    background-color: $white;
    border-color: $green;
    @include hover($white, $green);

    //layout
    width: auto;
}