// ==========================================================================
// FOOTER RULES
// ==========================================================================//

footer {
    //base font-size
    font-size: 1.1rem;
    font-family: $font-family--secondary;

    //layout
    @extend .text-center;

    h2 {
        //layout
        margin-bottom: 1em;
    }

    #footer--top {
        //layout
        padding-top: em(40px);
        
        [class*='col-'] {
            //layout
            padding-bottom: em(40px);
        }
    }

    #footer--bottom { 
        //layout
        padding-top: em(17px);
        padding-bottom: em(17px);
    }
}

.crec-links {
    a {
        //design
        color: white;
        @extend .circle;
        border: 2px solid $white;
        @include hover($green, $white);

        //layout
        padding: em(4px);
        margin-left: 4px;
        margin-right: 4px;
    }
}