// ==========================================================================
// NAVBAR
// ==========================================================================//

nav {
    //base font-size
    font-size: 1rem;
    
    //text
    font-family: $font-family--primary;
    font-weight: $font-weight--bold;
    line-height: 4.5em;
    
    //layout
    width: 100%; //so floats still take up full width
    padding-top: .5em;
    padding-bottom: .5em;

    //transitions
    @include transition(padding 200ms linear);

	@include media($xs){
        //text
        line-height: 3.5em;
        
        //layout
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

.nav--hamburger {
    //layout
	@include absolute(top 4px right 10px);
    
    .fa-bars {
        //design
        @include hover(NULL, $navyblue);
        @extend .rounded;
        cursor: pointer;
        border: 2px solid $navyblue;

        //layout
        padding: 2px 9px;
    }
}

.nav--logo {
    //text
    font-size: 1.7em;

    //layout
	display: block;
	float: left;

    //transitions
    @include transition(font-size 200ms linear);
    
    @include media($xs){
        //text
        font-size: 1.7em !important;
    }
}

.nav--list {
    //layout
    display: none;
	float: right;
    
	li {
        //layout
		display: inline-block;
		margin-bottom: 0;
		
		@include media($xs){
            //layout
			display: block;
		}
		
		a {
            //layout
			padding-left: 1.2em;
			padding-right: 1.2em;
            height: 58px;
            line-height: 58px;
			
			
			@include media($xs){
                //text
				font-size: 1.2em;
                
                //design
				display: block;

                //layout
				height: 42px;
				line-height: 42px;
			}
		}
	}
	
	//prevent slideToggle() from hiding nav--list on bigger screens
	@include media($sm-min, "min") {
        //layout
		display: block !important;
	}

	@include media($xs){
        //design
        border-top: 1px solid $navyblue;
        border-bottom: 1px solid $navyblue;
        
        //layout
        padding-bottom: .4em;
	}
	
}

.nav--logo, .nav--list {
	@include media($xs){
        //layout
		float: none;
	}
}

nav a {
    //design
	@include hover($green) {
		text-decoration: none;
	}
}

//Nav States

nav .highlighted {
    //design
    background-color: $navyblue;
}

nav.is-small {
    //layout
    padding-top: 0;
    padding-bottom: 0;
    
    .nav--logo {
        //text
        font-size: 1.3em;
    }
}
