// ==========================================================================
// SECTIONS and ARTICLES
// ==========================================================================//


nav {
    //design
    @include palette($white, $darkblue, $white);
}

header {
    //design
    color: $white;
    background-image: url("../img/BeachBackground.png"), linear-gradient(#00B4C5, #00B4C5 84%, #D4DAB3 89%, #D4DAB3);
    background-position: center;
    
    hr {
		@include star($white, $green);
	}
}

#rules {
    //design
    @include palette($darkblue, $white);
    
	section hr {
		@include star($darkblue, $white);
	}
}

#summer-slide {
    //design
    @include palette($white, $gold, $darkred, $red);
}

#read-anywhere {
    //design
    @include palette($white, $lightblue, $navyblue);
}

#prizes {
    //design
    @include palette($white, $red, $gold);
    
	hr {
		@include star($darkblue, $red);
	}	
}

#recommendations {
    //design
    @include palette($white, $greyblue, $gold);
	
	hr {
		@include star($darkblue, $greyblue);
	}
}

#contact {
    //design
    @include palette($darkblue, $white);
	
	hr {
		@include star($darkblue, $white);
	}
}

#footer--top {
    //design
    @include palette($white, $darkblue);
	
	h2 {
        //text
		line-height: 1;
	}
}

#footer--bottom {
    //design
    @include palette($white, $navyblue);
}